@model ErrorViewModel
@{

}

<div class="rs-error-page">
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">Oops! Looks like someone locked the door and forgot to leave the key under the mat.</h2>
    <img src="~/images/icon_404.png" />
</div>


