@model ErrorViewModel
@{

}

<div class="rs-error-page">
    <h1 class="text-danger">404 Error</h1>
    <h2 class="text-danger">Lost in the Lease! Seems like this page decided to go house hunting on its own. </h2>
    <img class="rs-error-404" src="~/images/icon_404_notfound.png" />
</div>


