@model property_rental_management.Models.Register

@{
}

<div class="row rs-register">
    <div class="rs-login-img">
        <img src="~/images/welcome.png" alt="Rentaspace Login" class="img-home" />
    </div>
    <div class="rs-register-input">
        <h1>
            Register
        </h1>
        <p>
            Register to view our exclusive rentals.
        </p>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Phone" class="form-control" placeholder="Phone"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group rs-button-caption">
                <input type="submit" value="Register" class="btn btn-lg btn-rentaspace-full" />
                <p>
                    Already have an account? <a asp-controller="Login" asp-action="Index" class="rs-text-link">Login</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
