@model property_rental_management.Models.Msg

@{
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1>@Model.Subject</h1>
<div class="rs-form-container">
    <dl class="row">
        <dt class = "col-sm-2">
            From
        </dt>
        <dd class = "col-sm-10">
            @Model.Sender.Split('|')[1]
        </dd>
        <dt class = "col-sm-2">
            To
        </dt>
        <dd class = "col-sm-10">
            @Model.Receiver.Split('|')[1]
        </dd>
        <dt class = "col-sm-2">
            Message
        </dt>
        <dd class = "col-sm-10">
            @Model.Message1
        </dd>
    </dl>
</div>
