@model property_rental_management.Models.Tenant

@{
    
}

<h1>Edit Profile</h1>
<div class="row rs-form-edit">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TenantId" />
            <input type="hidden" asp-for="Email" class="form-control" value="@ViewData["Email"]" />


            <div class="form-row">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" value="@ViewData["Email"]" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-lg btn-rentaspace-full" />
            </div>
        </form>
    </div>
</div>

