@model property_rental_management.Models.ApartmentModel

@{

}

<h1>Create</h1>

<h4>Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StatusId" class="form-control" value="A1" />
            <input type="hidden" asp-for="ApartmentId" class="form-control" value="X"/>

            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorArea" class="control-label"></label>
                <input asp-for="FloorArea" class="form-control" />
                <span asp-validation-for="FloorArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="@ViewBag.PropertyId" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

