@model property_rental_management.Models.Login

@{

}

<div class="row rs-login">
    <div class="rs-login-img">
        <img src="~/images/icon_login.png" alt="Rentaspace Login" class="img-home rs-img-login" />
    </div>
    <div class="rs-login-input">
        <h1>
            Log In
        </h1>
        <p>
            Log in to book appointments and view your rentals.
        </p>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group rs-button-caption">
                <input type="submit" value="Log In" class="btn btn-lg btn-rentaspace-full" />
                <p>
                    Don't have an account? <a asp-controller="Register" asp-action="Index" class="rs-text-link">Create an Account</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
