@{
    ViewData["Title"] = "Home";
}

<main class="rs-home-container">
    <div class="rs-home-left">
        <h1>Your Property, Our Priority!</h1>
        <p>Explore available apartments, condos, and houses for rent in Montreal and major cities across Quebec.</p>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
            </span>
            <input type="text" class="form-control" placeholder="Search City, Neighborhood or Address" aria-label="Search City, Neighborhood or Address" aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="rs-home-right">
        <img src="~/images/welcome.png" alt="Rentaspace Logo Text" class="img-home" />
    </div>
</main>
