@model property_rental_management.Models.ManagerModel

@{

}

<h1>Register A Manager</h1>
<div class="row">
    <div class="col-md-5 rs-form-edit">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" class="form-control" value=0 />
            <input type="hidden" asp-for="StatusId" class="form-control" value="E1" />

            <div class="form-row">
                <div class="form-group">
                    <label class="control-label">Manager Name</label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> </label>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label">Annual Salary</label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SupervisorId" class="control-label">Supervisor</label>
                <select class="form-select" asp-for="SupervisorId" class="form-control" asp-items="ViewBag.SupervisorId"></select>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label">City Assignment</label>
                <select class="form-select" asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Manager" class="btn btn-lg btn-rentaspace-full" />
            </div>
        </form>
    </div>
</div>
