@model IEnumerable<property_rental_management.Models.Manager>

@{
    var userEmail = Context.Session.GetString("userEmail");
    var tenantID = Context.Session.GetString("tenantID");
    var employeeID = Context.Session.GetString("employeeID");
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1 class="rs-admin-head">
    RentaSpace Managers
</h1>
<form asp-controller="Managers" asp-action="Index" method="get" class="rs-search-container">
    <input type="text" name="s" placeholder="Search by name, email or city" class="rs-search-box">
    <button type="submit" class="btn btn-lg btn-rentaspace-normal">Search</button>
</form>

<div class="rs-listings-header rs-admin-subhead">
    <h2>Managers</h2>
    @if (employeeID != null)
    {
        <a class="rs-text-link" asp-action="Create"><img class="rs-iconmail" src="~/images/icon_add.png" /></a>
    }
</div>
<table class="table rs-table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var manager in Model) {
        <tr>
            <td>
                @manager.EmailNavigation.Email
            </td>
            <td>
                @manager.ManagerNavigation.FirstName @manager.ManagerNavigation.LastName
            </td>
            <td>
                @manager?.City?.CityName
            </td>
            <td>
                @manager?.ManagerNavigation.Phone
            </td>
            <td>
                <div class="rs-status">@manager?.ManagerNavigation.Status.Description</div>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@manager?.ManagerId" class="btn btn-lg btn-rentaspace-full">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
