@model IEnumerable<property_rental_management.Models.Manager>

@{
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Managers" asp-action="Index" method="get">
    <input type="text" name="searchString" placeholder="Search by name or email">
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var manager in Model) {
        <tr>
            <td>
                @manager.EmailNavigation.Email
            </td>
            <td>
                @manager.ManagerNavigation.FirstName @manager.ManagerNavigation.LastName
            </td>
            <td>
                @manager?.City?.CityName
            </td>
            <td>
                @manager?.ManagerNavigation.Phone
            </td>
            <td>
                @manager?.ManagerNavigation.Status.Description
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@manager?.ManagerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@manager?.ManagerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@manager?.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
