@model IEnumerable<property_rental_management.Models.Manager>

@{
    var userEmail = Context.Session.GetString("userEmail");
    var employeeID = Context.Session.GetString("employeeID");
    TempData["returnUrl"] = (string)Context.Request.Path;
}

<div class="rs-listings-header">
    <h2>RentaSpace Managers</h2>
    @if (employeeID != null)
    {
        <a class="rs-text-link" asp-action="Create"><img class="rs-iconmail" src="~/images/icon_add.png" /></a>
    }
</div>
<form asp-controller="Managers" asp-action="Index" method="get">
    <input type="text" name="searchString" placeholder="Search by name, email or city">
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var manager in Model) {
        <tr>
            <td>
                @manager.EmailNavigation.Email
            </td>
            <td>
                @manager.ManagerNavigation.FirstName @manager.ManagerNavigation.LastName
            </td>
            <td>
                @manager?.City?.CityName
            </td>
            <td>
                @manager?.ManagerNavigation.Phone
            </td>
            <td>
                @manager?.ManagerNavigation.Status.Description
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@manager?.ManagerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@manager?.ManagerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@manager?.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
