@model property_rental_management.Models.PropertyModel

@{
    var manager = ViewData["manager"] as Manager;
    var admin = ViewData["admin"] as Admin;

}

<h1>Register A Property</h1>
<div class="row rs-form-edit">
    <div class="col-md-5">
        <form asp-action="Create" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyId" class="form-control" value="X" />
            <input type="hidden" asp-for="StatusId" class="form-control" value="P2" />
            <input type="hidden" asp-for="TotalUnits" class="form-control" value="0" />
            <input type="hidden" asp-for="AvailableUnits" class="form-control" value="0" />


            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Street Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-row">

                @if (manager != null)
                {
                    <input type="hidden" asp-for="CityId" class="form-control" value="@manager?.City?.CityId" />
                    <input type="hidden" name="managerId" value="@manager?.ManagerId" />
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <input class="form-control" value="@manager?.City?.CityName" disabled />
                    </div>
                } else
                {
                    <div class="form-group">
                        <input type="hidden" name="managerId" value="admin" />
                        <label asp-for="CityId" class="control-label">City</label>
                        <select class="form-select" asp-for="CityId" class="form-control" asp-items="ViewBag.Cities"></select>
                    </div>
                }

                <div class="form-group">
                    <label class="control-label">Province/Region</label>
                    <input class="form-control" value="Quebec" disabled />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="YearEstablished" class="control-label">Year Established</label>
                <input type="number" min="2000" max="2024" value="2024" asp-for="YearEstablished" class="form-control" />
                <span asp-validation-for="YearEstablished" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-lg btn-rentaspace-full" />
            </div>
        </form>
    </div>
</div>

<script>
    function validateForm() {
        var address = document.getElementById("Address").value;
        var yearEstablished = document.getElementById("YearEstablished").value;

        if (address.trim() === "" || yearEstablished.trim() === "") {
            alert("Please fill in all required fields.");
            return false;
        }

        return true;
    }
</script>