@model property_rental_management.Models.PropertyModel

@{
    var manager = ViewData["manager"] as Manager;

}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyId" class="form-control" value="X"/>
            <input type="hidden" asp-for="StatusId" class="form-control" value="P2"/>
            <input type="hidden" asp-for="CityId" class="form-control" value="@manager?.City?.CityId"/>
            <input type="hidden" asp-for="TotalUnits" class="form-control" value="0"/>
            <input type="hidden" asp-for="AvailableUnits" class="form-control" value="0" />
            <input type="hidden" name="managerId" value="@manager?.ManagerId" />


            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" value="@manager?.City?.CityName" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="YearEstablished" class="control-label"></label>
                <input asp-for="YearEstablished" class="form-control" />
                <span asp-validation-for="YearEstablished" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


