@model property_rental_management.Models.PropertyModel

@{
    var cityName = ViewData["cityName"];
    var statusDesc  = ViewData["statusDesc"];
}

<h1>Manage Property</h1>

<div class="row rs-form-edit">
    <div class="col-md-5">
        <form id="propertyForm" asp-controller="Properties" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyId" />
            <input type="hidden" asp-for="CityId" class="form-control" />
            <input type="hidden" asp-for="StatusId" class="form-control" />
            <input type="hidden" asp-for="TotalUnits" class="form-control" />
            <input type="hidden" asp-for="AvailableUnits" class="form-control" />

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Street Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="control-label">City</label>
                    <input class="form-control" value="@cityName" disabled />
                </div>

                <div class="form-group">
                    <label class="control-label">Province/Region</label>
                    <input class="form-control" value="Quebec" disabled />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="YearEstablished" class="control-label">Year Established</label>
                <input type="number" min="2000" max="2024" asp-for="YearEstablished" class="form-control" />
                <span asp-validation-for="YearEstablished" class="text-danger"></span>
            </div>

            <div class="form-group rs-row">
                <input type="submit" value="Save Changes" class="btn btn-lg btn-rentaspace-full" />
                <a asp-controller="Properties" asp-action="Delete" asp-route-id="@Model?.PropertyId" class="btn btn-lg btn-rentaspace-outline">Delete</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("propertyForm").addEventListener("submit", function (event) {

        var address = document.getElementById("Address").value;
        var yearEstablished = document.getElementById("YearEstablished").value;

        if (address.trim() === "" || yearEstablished.trim() === "") {
            alert("Please fill in all required fields.");
            event.preventDefault();
        }
    });
</script>
