@model IEnumerable<property_rental_management.Models.Admin>

@{
    var jobID = Context.Session.GetString("jobID");
    var employeeID = Context.Session.GetString("employeeID");

    var returnUrl = Context.Request.Path + Context.Request.QueryString;
    TempData["returnUrl"] = (string)returnUrl;
}


<div class="rs-admin-users-container">
    <h1>Manage Rentaspace</h1>
    <div class="rs-admin-users">
        <a asp-controller="Managers" asp-action="Index" class="btn btn-lg btn-rentaspace-outline" id="rs-icon-manager-link">
            <img src="~/images/icon_managers_hover.png" class="rs-admin-icon" id="rs-icon-manager"/>
            Managers
        </a>
        <a asp-controller="Tenants" asp-action="Index" class="btn btn-lg btn-rentaspace-outline" id="rs-icon-tenant-link">
            <img src="~/images/icon_tenants_hover.png" class="rs-admin-icon" id="rs-icon-tenant" />
            Tenants
        </a>
        <a asp-controller="Properties" asp-action="List" class="btn btn-lg btn-rentaspace-outline" id="rs-icon-bldg-link">
            <img src="~/images/icon_bldg_hover.png" class="rs-admin-icon" id="rs-icon-bldg" />
            Properties
        </a>
    </div>
</div>
